.footer 
	p If any query regarding above Information than contact us on
	a(href="mailto:student4project@gmail.com") online.blood.bank@gmail.com
	p Copyright Online Blood Bank 2021 | All rights reserved