.navbar
	input#showLinks(type="checkbox", name="showLinks")
	.logodiv
		a.logo(href="/") RAMC BloodBank
		label.hamburger(for="showLinks")
	.links
		.innerLink
			.link
				a(href="/") Home
			.dropdownToggle
				.toggle Services
				.dropdown
					a(href="/campSchedule") Camp Schedule
					a(href="/bloodbanks") Blood Banks
					a(href="/myDonations") My Donations
			.dropdownToggleMobile
				input#hideShow(type="checkbox", name="hideShow")
				label.toggleMobile(for="hideShow") Services
				.dropdownMobile
					a(href="/campSchedule") Camp Schedule
					a(href="/bloodbanks") Blood Banks
					a(href="/myDonations") My Donations
			.link
				a(href="/about") About US
			.link
				a(href="/logout") Logout