.nav 
	.logoDiv 
		h2.logo RAMC BloodBank
		.hamburger

	ul.navul
		li.navli
			a.active(href="/") Home
		li.navli 
			a(href="/campShedule") Camp Shedule
		li.navli 
			a(href="/bloodbanks") Blood Banks
		li.navli
			a(href="/about") About US
		li.navli 
			a(href="/signup?signup=Public") Sign UP
		li.navli 
			a(href="/login") Login
script(src="js/hamburger.js")