body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

@media (min-width:1000px) {

	.container {
		margin: 0 200px;
		padding: 10px;
	}
}

@media (min-width:0) and (max-width:1000px) {
	.container {
		padding: 10px;
	}
}

.container {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.subheading {
	position: relative;
	margin: 10px auto;
	font-size: 30px;
	pointer-events: none;
	color: #dc1907;
	font-weight: 600;
	text-shadow: 0px 3px 5px #dc19079c;
}

.subheading::before {
	content: '';
	position: absolute;
	bottom: -3px;
	width: 80%;
	height: 4px;
	border-radius: 10px;
	background-color: #dc1907;
}

.err {
	color: #dc1907;
	font-size: 20px;
	margin: 0 10px;
	font-weight: 500;
}

.container form {
	width: 100%;
	margin: 20px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.form-control {
	display: flex;
	flex-direction: column;
	margin: 8px 10px;
}

.form-control label {
	font-size: 20px;
	margin-bottom: 4px;
}

.form-control .error {
	border: 1px solid #dc1907;
}

.form-control .error:focus {
	border: 1px solid #dc1907;
	box-shadow: 0 0 1px #dc1907,
	0 0 3px #dc1907,
	0 0 5px #dc1907,
	0 0 7px #dc1907,
	0 0 8px #dc1907;
}

.form-control input , .form-control select , .form-control textarea {
	outline: none;
	border-radius: 7px;
	border: 1px solid black;
	padding: 5px 10px;
	font-size: 17px;
	transition: all 0.3s;
}

.form-control input:focus , .form-control select:focus , .form-control textarea:focus {
	border: 0.1px solid #2196f3;
	box-shadow: 0 0 1px #2196f3,
	0 0 3px #2196f3,
	0 0 5px #2196f3,
	0 0 7px #2196f3,
	0 0 8px #2196f3;
	transition: all 0.3s;
}

.form-control textarea {
	max-width: 100%;
	max-height: 200px;
}


.submit {
	font-size: 20px;
	height: 40px;
	width: 130px;
	margin: 10px;
	border-radius: 7px;
	border: none;
	background: #dc1907;
	color: #fff;
	font-weight: bold;
	letter-spacing: 2px;
	cursor: pointer;
	transition: all 0.35s;
}

.submit:hover {
	transform: translateX(1px) translateY(1px);
	box-shadow: 2.5px 2.5px 10px rgba(0, 0, 0, 0.6);
	transition: all 0.35s;
}

.err {
	color: #dc1907;
	font-size: 20px;
	margin: 0 10px;
	font-weight: 500;
}

.disabled {
	opacity: 0.5;
}

.disabled:hover {
	cursor: not-allowed;
	transform: none;
	box-shadow: none;
}

.suc {
	color: green;
	font-size: 20px;
	margin: 0 10px;
	font-weight: 500;
}

.fromTo {
	display: flex;
	align-items: center;
}

.time {
	margin-right: 20px;
}

.time:nth-child(2) {
	font-size: 20px;
	font-weight: 500;
}